<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Table</title>
</head>
<body>
<form method='post'>
    <input type='submit' name='submit' onclick='window.location;' value='Refresh'>
    <input type='submit' name='submit' onclick='window.location;' value='Last Day'>
    <input type='submit' name='submit' onclick='window.location;' value='Last Hour'>
    <input type='submit' name='submit' onclick='window.location;' value='Last 30 Minutes'>
    <table border='1'>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Country</th>
            <th>State</th>
            <th>Zip</th>
            <th>Registration time</th>
        </tr>

    </table>
</form>
</body>
</html>